.courses{
    padding-bottom: 145px;
    @include media(1400){
        padding-bottom: 100px;
    }
    @include media(992){
        padding-bottom: 60px;
    }
    &__content{
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        @include media(1200){
            justify-content: flex-start;
        }
        @include media(992){
            justify-content: space-between;
        }
    }
    &__item{
        width: calc(25% - 22.5px);
        background: #9E8DE9;
        border-radius: 30px;
        padding: 60px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        @include media(1400){
            width: calc(25% - 7.5px);
        }
        @include media(1200){
            width: calc(33.333% - 30px);
        }
        @include media(992){
            width: calc(50% - 15px);
            padding: 40px 10px;
        }
        @include media(768){
            width: calc(50% - 10px);
        }
        @include media(575){
            width: 100%;
        }
        &:first-of-type, &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4){
            margin-bottom: 25px;
            @include media(768){
                margin-bottom: 20px;
            }
            @include media(575){
                margin-bottom: 0;
            }
        }
        &:first-of-type, &:nth-of-type(2), &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(7){
            @include media(1200){
                margin-right: 30px;
            }
            @include media(992){
                margin-right: 0;
            }
        } 
        &:first-of-type, &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6){
            @include media(1200){
                margin-bottom: 25px;
            }
            @include media(575){
                margin-bottom: 0;
            }
        } 
        &:not(:last-of-type){
            @include media(575){
                margin-bottom: 20px;
            }
        }
        &-top{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__img{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 18px;
    }
    &__p{
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        color: #000000;
        margin-bottom: 48px;
        @include media(992){
            font-size: 24px;
            line-height: 24px;
            margin-bottom: 32px;
        }
        @include media(768){
            font-size: 18px;
            line-height: 18px;
            margin-bottom: 22px;
        }
    }
    &__btn{
        font-weight: 600;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        color: #FFFFFF; 
        margin-left: auto;
        margin-right: auto;
        padding: 17px 15px;
        background: #614791;
        border-radius: 30px;  
        transition: 300ms ease;
        &:hover{
            background: lighten($color: #614791, $amount: 7);
        }
        @include media(992){
            max-width: 250px;
            width: 100%;
            padding: 10px 20px;
            font-size: 20px;
        }     
        @include media(768){
            max-width: 200px;
        }
    }
    &__link{
        display: block;
        width: 100%;
        text-align: right;
        text-decoration: underline;
        font-weight: 500;
        font-size: 30px;
        line-height: 40px;
        color: #9E8DE9;
        margin-top: 18px;
        @include media(1200){
            text-align: left;
        }
        @include media(992){
            font-size: 20px;
            margin-top: 10px;
        }
    }
}