mixin adres()
    .adres 
        .adres__body.container    
            .adres__left 
                h1.adres__title Москва, улица Авиамоторная, дом 8, строение 39
                a(href="https://yandex.com/maps/?ll=10.854186%2C49.182076&z=4").adres__btn Яндекс карты
                p.adres__subtitle Как добраться
                p.adres__desc М. Авиамоторная, первый выход, далее следуйте прямо 200 метров до светофора,  переходите дорогу по зебре в сторону бежевого здания ВТБ, (вывеска - ул. Авиамоторная, дом 10), после следуете вдоль здания, оставив его по левую руку, поворачиваете налево, увидите забор с будкой и калиткой, проходите через неё, перед вами будет здание Московского Технического Института Связи и Информатики, заходите, далее поднимаетесь на лифте до 6 этажа. Время в пути 5-7 минут
            .adres__img 
                img(src="@img/adres-img.png", alt="" draggable="false")