mixin advantages()
    .advantages 
        .advantages__body.container 
            .advantages__wrapper
                .advantages__slider 
                    .advantages__swiper.swiper 
                        .advantages__swiper-wrapper.swiper-wrapper 
                            .advantages__slide.swiper-slide 
                                .advantages__card 
                                    .advantages__img 
                                        img(src="@img/advantages-img-1.png", alt="" draggable="false")
                                    .advantages__content 
                                        .advantages__content-top
                                            p.advantages__subtitle 5G в России
                                            p.advantages__desc Главными особеннос-тями технологии 5G являются: высокая скорость передачи дан...
                                        a(href="news.html").advantages__btn Читать дальше 
                            .advantages__slide.swiper-slide 
                                .advantages__card 
                                    .advantages__img 
                                        img(src="@img/advantages-img-2.png", alt="" draggable="false")
                                    .advantages__content 
                                        .advantages__content-top
                                            p.advantages__subtitle От 1G до 4G
                                            p.advantages__desc Первый стандарт сотовой связи – 1G. Он был основан на аналоговом спос...
                                        a(href="news.html").advantages__btn Читать дальше 
                            .advantages__slide.swiper-slide 
                                .advantages__card 
                                    .advantages__img 
                                        img(src="@img/advantages-img-3.png", alt="" draggable="false")
                                    .advantages__content 
                                        .advantages__content-top
                                            p.advantages__subtitle Дистант
                                            p.advantages__desc Пандемия затронула не только школы, но и высшие учреждения. Все образоват...
                                        a(href="news.html").advantages__btn Читать дальше 
                            .advantages__slide.swiper-slide 
                                .advantages__card 
                                    .advantages__img 
                                        img(src="@img/advantages-img-1.png", alt="" draggable="false")
                                    .advantages__content 
                                        .advantages__content-top
                                            p.advantages__subtitle 5G в России
                                            p.advantages__desc Главными особеннос-тями технологии 5G являются: высокая скорость передачи дан...
                                        a(href="news.html").advantages__btn Читать дальше 
                    .advantages__pagination.swiper-pagination
                .advantages__buttons 
                    .advantages__btn-prev.swiper-button-prev
                        img(src="@img/prev-btn.svg", alt="" draggable="false")
                    .advantages__btn-next.swiper-button-next
                        img(src="@img/next-btn.svg", alt="" draggable="false")