mixin contacts2()
    .contacts2
        .contacts2__body.container 
            h2.contacts2__title Контакты
            .contacts2__row 
                .contacst2__item 
                    p.contacts2__subtitle Общие вопросы
                    a(href="mailto::ucmtuci@mtuci.ru").contacts2__link ucmtuci@mtuci.ru 
                .contacst2__item 
                    p.contacts2__subtitle Контактный центр
                    a(href="tel::+7(495)925-04-24").contacts2__link +7 (495) 925-04-24
                .contacst2__item 
                    p.contacts2__subtitle Отдел заботы о пользователях
                    a(href="tel::+7 (925) 671-11-02").contacts2__link +7 (925) 671-11-02