mixin courses()
    .courses 
        .courses__body.container 
            .courses__content 
                .courses__item 
                    .courses__item-top
                        .courses__img 
                            img(src="@img/courses-img-1.png", alt="" draggable="false")
                        p.courses__p HSIA маршрутизация
                    a(href="about.html").courses__btn Посмотреть 
                .courses__item 
                    .courses__item-top
                        .courses__img 
                            img(src="@img/courses-img-2.png", alt="" draggable="false")
                        p.courses__p IP технология
                    a(href="about.html").courses__btn Посмотреть 
                .courses__item 
                    .courses__item-top
                        .courses__img 
                            img(src="@img/courses-img-3.png", alt="" draggable="false")
                        p.courses__p CX600
                    a(href="about.html").courses__btn Посмотреть 
                .courses__item 
                    .courses__item-top
                        .courses__img 
                            img(src="@img/courses-img-4.png", alt="" draggable="false")
                        p.courses__p Python базовый
                    a(href="about.html").courses__btn Посмотреть 
                .courses__item 
                    .courses__item-top
                        .courses__img 
                            img(src="@img/courses-img-5.png", alt="" draggable="false")
                        p.courses__p OptiX OSN
                    a(href="about.html").courses__btn Посмотреть 
                .courses__item 
                    .courses__item-top
                        .courses__img 
                            img(src="@img/courses-img-6.png", alt="" draggable="false")
                        p.courses__p Базовые станции (БС)
                    a(href="about.html").courses__btn Посмотреть 
                .courses__item 
                    .courses__item-top
                        .courses__img 
                            img(src="@img/courses-img-7.png", alt="" draggable="false")
                        p.courses__p 5G базовый
                    a(href="about.html").courses__btn Посмотреть 
                .courses__item 
                    .courses__item-top
                        .courses__img 
                            img(src="@img/courses-img-8.png", alt="" draggable="false")
                        p.courses__p OptiX RTN300/900
                    a(href="about.html").courses__btn Посмотреть 
            a(href="courses.html").courses__link Все курсы 