mixin employees()
    .employees 
        .employees__body.container 
            h1.employees__title Наши сотрудники
            .employees__content 
                .employees__item 
                    .employees__img 
                        img(src="@img/employees-img.png", alt="" draggable="false")
                    p.employees__name Венедюхина Елена 
                    p.employees__p Генеральный директор
                .employees__item 
                    .employees__img 
                        img(src="@img/employees-img.png", alt="" draggable="false")
                    p.employees__name Гильц Наталья
                    p.employees__p Главный бухгалтер