mixin faculties()
    .faculties 
        .faculties__body.container 
            h2.faculties__title Чему вы научитесь
            .faculties__content 
                .faculties__item 
                    .faculties__tick 
                        <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M30.2196 7.64752L16.8594 23.4122L10.0925 17.1017L11.0466 16.0776L16.7404 21.3871L29.3026 6.56462C26.3598 3.39082 22.1591 1.40002 17.4999 1.40002C8.6218 1.40002 1.3999 8.62192 1.3999 17.5C1.3999 26.3781 8.6218 33.6 17.4999 33.6C26.378 33.6 33.5999 26.3781 33.5999 17.5C33.5999 13.7907 32.3357 10.3726 30.2196 7.64752Z" fill="black"/>
                        </svg>
                    p.faculties__desc Объяснять принципы передачи данных по IP-сетям для компетентной поддержки и устранения неисправностей в соответствующих сетях.
                .faculties__item 
                    .faculties__tick 
                        <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M30.2196 7.64752L16.8594 23.4122L10.0925 17.1017L11.0466 16.0776L16.7404 21.3871L29.3026 6.56462C26.3598 3.39082 22.1591 1.40002 17.4999 1.40002C8.6218 1.40002 1.3999 8.62192 1.3999 17.5C1.3999 26.3781 8.6218 33.6 17.4999 33.6C26.378 33.6 33.5999 26.3781 33.5999 17.5C33.5999 13.7907 32.3357 10.3726 30.2196 7.64752Z" fill="black"/>
                        </svg>
                    p.faculties__desc Планировать схему IP-адресации при проектировании сетей. Управлять оборудованием Huawei на базе OC VRP.
                .faculties__item 
                    .faculties__tick 
                        <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M30.2196 7.64752L16.8594 23.4122L10.0925 17.1017L11.0466 16.0776L16.7404 21.3871L29.3026 6.56462C26.3598 3.39082 22.1591 1.40002 17.4999 1.40002C8.6218 1.40002 1.3999 8.62192 1.3999 17.5C1.3999 26.3781 8.6218 33.6 17.4999 33.6C26.378 33.6 33.5999 26.3781 33.5999 17.5C33.5999 13.7907 32.3357 10.3726 30.2196 7.64752Z" fill="black"/>
                        </svg>
                    p.faculties__desc Строить эффективные коммутируемые сети и управлять соответствующими протоколами канального уровня (STP/RSTP).
                .faculties__item 
                    .faculties__tick 
                        <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M30.2196 7.64752L16.8594 23.4122L10.0925 17.1017L11.0466 16.0776L16.7404 21.3871L29.3026 6.56462C26.3598 3.39082 22.1591 1.40002 17.4999 1.40002C8.6218 1.40002 1.3999 8.62192 1.3999 17.5C1.3999 26.3781 8.6218 33.6 17.4999 33.6C26.378 33.6 33.5999 26.3781 33.5999 17.5C33.5999 13.7907 32.3357 10.3726 30.2196 7.64752Z" fill="black"/>
                        </svg>
                    p.faculties__desc Объяснять принципы маршрутизации и настраивать протоколы RIP/OSPF при внедрении эффективного решения по маршрутизации в сети предприятия.
                .faculties__item 
                    .faculties__tick 
                        <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M30.2196 7.64752L16.8594 23.4122L10.0925 17.1017L11.0466 16.0776L16.7404 21.3871L29.3026 6.56462C26.3598 3.39082 22.1591 1.40002 17.4999 1.40002C8.6218 1.40002 1.3999 8.62192 1.3999 17.5C1.3999 26.3781 8.6218 33.6 17.4999 33.6C26.378 33.6 33.5999 26.3781 33.5999 17.5C33.5999 13.7907 32.3357 10.3726 30.2196 7.64752Z" fill="black"/>
                        </svg>
                    p.faculties__desc Внедрять решения по администрированию и управлению сетью, использующие прикладные сервисы, включая DHCP, FTP и Telnet. Строить базовые коммуникационные сети.