mixin info()
    .info  
        .info__body.container 
            h1.info__title О компании
            p.info__desc Возможности Учебного центра МТУСИ позволяют проводить корпоративные обучения специалистов, курсы повышения квалификации, образовательные и информационно-консультационные услуги в области информационно-коммуникационных технологий.
            .info__content 
                .info__item 
                    p.info__subtitle 3-5 дней
                    p.info__p Длительность обучений
                .info__item 
                    p.info__subtitle 15 152
                    p.info__p Повысили квалификацию
                .info__item 
                    p.info__subtitle 15 лет
                    p.info__p С даты образования