mixin intro()
    .intro 
        .intro__body.container 
            .intro__left 
                h1.intro__title В учении нельзя останавливаться
                p.intro__desc Выбери курс, который подходит именно тебе и стань лучшим
                a(href="#contacts").intro__btn Оставить заявку
                p.intro__p АНО ДПО "Учебный центр МТУСИ"
                a(href="tel::+7(495)925-04-24").intro__phone +7 (495) 925-04-24
            .intro__img 
                img(src="@img/intro-img.svg", alt="" draggable="false") 