mixin news()
    .news 
        .news__body.container 
            h1.news__title 5G в России
            p.news__p Главными особенностями технологии 5G являются: высокая скорость передачи данных, достигающая 1-2 Гбит/сек, возможность прямых соединений между устройствами (D2D) в обход вышек сотовой связи, а также более низкий расход батареи в мобильных телефонах, планшетах и модемах.
            p.news__p Для обычных пользователей поколение 5G, предоставит возможность загружать фильмы примерно за 15 секунд, а также использовать устройства виртуальной реальности с полным погружением или играть в многопользовательские игры. #[br] Возможности стандарта 5G позволяют поддерживать устойчивую связь с объектами, движущимися на скорости до 500 км/ч без задержек, что даст возможность создать полноценную инфраструктуру для беспилотного транспорта, будь то поезда, грузовые или легковые автомобили, летательные беспилотники.
            p.news__p В медицине появляется возможность проводить удаленные операции.
            p.news__p В сфере образования будут массово распространены устройства виртуальной реальности, которые позволяют видеть картинку и манипуляции опытного профессионала от первого лица.Эксперты ожидают полное вытеснение Wi-Fi и домашних роутеров из обихода после широкого распространения 5G.
            p.news__p В России созданием мобильной связи 5G занимаются такие операторы как: Tele2, Билайн, МТС, Мегафон. Также они тесно сотрудничают с вендорами Huawei, Nokia и Ericsson, которые помогают им разрабатывать необходимое оборудование и конечные устройства.
            ul.news__list 
                li.news__li Мегафон развернул первую сеть в России на площадке Санкт-Петербургского экономического форума.
                li.news__li МТС проводила пилотные запуски сотовой связи 5g во время Чемпионата мира по футболу.Операторы готовы совместно использовать диапазон 3,4-3,8 ГГц и развивать инфраструктуру. Это позволит существенно сократить расходы на запуск. По некоторым данным к 2025 году сотовая связь 5G в России будет доступна 80% жителей РФ.