mixin routing()
    .routing 
        .routing__body.container 
            .routing__left
                h1.routing__title HSIA маршрутизация и коммутация
                p.routing__desc Инженерам, желающим получить квалификацию Huawei Certified ICT Associate
                a(href="#register").routing__btn Записаться на курс
            .routing__img       
                img(src="@img/routing-img.png", alt="" draggable="false")