doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        title Document
    body 
        .wrapper 
            include components/header 
            +header 
            include components/routing 
            +routing 
            include components/faculties 
            +faculties 
            .register#register
                .register__body.container 
                    h1.register__title Записаться на курс или получить бесплатную консультацию
                    .contacts 
                        .contacts__body.container 
                            h2.contacts__subtitle Контакты
                            form(action="").contacts__form
                                .contacts__left     
                                    input(type="text" placeholder="Имя" required).contacts__input 
                                    input(type="number" placeholder="Телефон" required).contacts__input 
                                    input(type="text" placeholder="Email" required).contacts__input 
                                .contacts__right 
                                    input(type="text" placeholder="Выберите свой курс" required).contacts__input 
                                    textarea(name="textarea" placeholder="Комментарий").contacts__textarea
                            button(type="submit").contacts__btn Записаться
            include components/footer 
            +footer
        script(src="js/app.min.js") 